@import "../../variables";
:host {

  input {
    background-color: $background-color;
    line-height: 1;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    line-height: 1;
    width: 100%;
    font-size: 18px;

  }
  i {

    background-color:$background-color;
    line-height: 1;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    margin-left: -25px;
  }
}
